body {
  margin: 0; }
  body img {
    max-width: 100%; }
  body .grid {
    background: url("../img/background.png") no-repeat center center;
    background-size: cover;
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(5, 1fr);
    height: 100%; }
    body .grid .area {
      align-self: center;
      justify-self: center; }
      body .grid .area .title h1 {
        color: #fff;
        font-family: 'digital';
        font-size: 200px;
        font-weight: normal;
        line-height: 160px;
        margin: 0;
        text-transform: uppercase; }
      body .grid .area .title h3 {
        color: #fff;
        font-family: 'robotoregular';
        font-size: 47px;
        font-weight: normal;
        line-height: 36px;
        margin: 0;
        text-align: right; }
      body .grid .area .button {
        color: #fff;
        font-family: 'digital';
        font-size: 48px;
        text-transform: uppercase;
        text-decoration: none; }

@font-face {
  font-family: 'digital';
  src: url("../fonts/djb_get_digital-webfont.woff2") format("woff2"), url("../fonts/djb_get_digital-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
