body {
    margin: 0;

    a { text-decoration: none; color: #fff; }
    img { max-width: 100%; }
    h1, h2, h3, h4 { 
        color: #fff;
        font-family: 'digital';
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
    }
    h1 { font-size: 200px; line-height: 160px; }
    h2 { font-size: 120px; line-height: 90px; }
    h3 { font-size: 60px; line-height: 52px; }
    h4 { font-size: 47px; line-height: 36px; }
    p { 
        color: #fff;
        font-family: 'robotoregular';
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .grid {
        background: url('../img/background.png') no-repeat center center;
        background-size: cover;
        display: grid;
        grid-template: repeat(5,1fr) / repeat(5,1fr);
        height: 100%;
    
        .area {
            align-self: center;
            justify-self: center;

            &.logo { grid-area: 1/1; }
            &.title-1 { grid-area: 2/2/4/5; }
            &.title-2 { grid-area: 2/2/3/5; }
            &.instructions { grid-area: 3/2/4/5; }
            &.option-1 { grid-area: 3/2; }
            &.option-2 { grid-area: 3/3; }
            &.option-3 { grid-area: 3/4; }
            &.option-4 { grid-area: 4/2; }
            &.option-5 { grid-area: 4/3; }
            &.option-6 { grid-area: 4/4; }

            .button {
                color: #fff;
                font-family: 'digital';
                font-size: 48px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

@media(max-width:800px), screen and (max-height: 560px) and (orientation: landscape){
    body {
        h1 { font-size: 120px; line-height: 100px; }
        h2 { font-size: 60px; line-height: 52px; }
        h3 { font-size: 47px; line-height: 36px; }
        h4 { font-size: 32px; line-height: 24px; }
        p { font-size: 18px; line-height: 28px; }

        .grid {
            .area {
                .button {
                    font-size: 24px;
                }
            }
        }
    }
}

@font-face {
    font-family: 'digital';
    src: url('../fonts/djb_get_digital-webfont.woff2') format('woff2'),
         url('../fonts/djb_get_digital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}